/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* NOTES
Bebas Neue - Reg 400 
- H1: 40px
- H2: 30px
- H3: 25px
- NAV A: 20px
- NAV SPAN: 20px
- MENU LI: 20px
- #SOCIAL LI: 20px
- FOOTER: 20px 

Montserrat - Reg 400
- P: 16px
- DD: 16px
- LI: 16px
- NAV: 16px
- INPUT: 16px

Montserrat - Bold 700
- DT: 16px

BREAKPOINTS - use %
- Small: 414
- Med: 768
- Large: 1280
*/



/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*VARIABLES*/
:root {
  --black: #0D0D0D;
  --platinum: #F2F2F2;
  --white: #FFFFFF;
  --aqua: #7ABFBF;
  --mint: rgba(122, 191, 191, .5);
  --orange: #EB5428;
}

/*GLOBAL STYLES*/

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
}

nav a, nav span, menu li, #social li, footer {
  font-size: 20px;
}

p, dd, li, nav, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

dt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

body {
  background-color: var(--platinum);
}

#search-bar {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.search-container {
  display: flex;
  align-items: center;
  width: 300px;
}

.search-container label {
  display: none;
}

#search-input {
  border: 2px solid var(--orange);
  padding: 11px;
  flex-grow: 1;
}

.search-container button {
  background: var(--orange);
  border: none;
  cursor: pointer;
}


h1 {
  position: relative;
  top: 220px;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

#street-tacos img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#main-nav h2 {
  display: none;
}

#nav-menu {
  background-color: var(--white);
}

#nav-menu li {
  display: none;
}

#home span {
  display: none;
}

#nav-menu #home, #nav-menu #avatar {
  display: flex;
}

#home {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-44.5%);
  justify-content: center;
  background-color: var(--orange);
  margin: 0;
  padding: .5em 5em .5em 5.2em;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

.nav-toggle {
  position: absolute;
  top: 0;
  background-color: var(--white);
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em 2.2em;;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

#avatar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  padding: .62em .5em;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

#action-items h2 {
  display: none;
}

#action-items {
  margin-top: 200px;
}

#action-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-bottom: 10px;
  color: var(--orange);
}

.action {
  border: none;
}





/*MEDIA QUERY 768*/


/*MEDIA QUERY 1280*/