/* NOTES
Bebas Neue - Reg 400 
- H1: 40px
- H2: 30px
- H3: 25px
- NAV A: 20px
- NAV SPAN: 20px
- MENU LI: 20px
- #SOCIAL LI: 20px
- FOOTER: 20px 

Montserrat - Reg 400
- P: 16px
- DD: 16px
- LI: 16px
- NAV: 16px
- INPUT: 16px

Montserrat - Bold 700
- DT: 16px

BREAKPOINTS - use %
- Small: 414
- Med: 768
- Large: 1280
*/

/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/*VARIABLES*/
:root {
  --black: #0D0D0D;
  --platinum: #F2F2F2;
  --white: #FFFFFF;
  --aqua: #7ABFBF;
  --mint: rgba(122, 191, 191, .5);
  --orange: #EB5428;
}

/*GLOBAL STYLES*/
body {
  background-color: var(--platinum);
}

h1 {
  position: relative;
  top: 120px;
}

#main-nav h2 {
  display: none;
}

#nav-menu {
  background-color: var(--white);
}

#nav-menu li {
  display: none;
}

#home span {
  display: none;
}

#nav-menu #home, #nav-menu #avatar {
  display: flex;
}

#home {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  background-color: var(--orange);
  margin: 0;
  width: auto;
  padding: .5em 4em;
}



/*MEDIA QUERY 768*/


/*MEDIA QUERY 1280*/